<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--整合ssm之后mybatis的配置文件里面的数据源等交给spring管理-->
    <settings>
        <!--启用二级缓存-->
        <setting name="cacheEnabled" value="true"/>
        <!--使用延迟加载策略-->
        <setting name="lazyLoadingEnabled" value="true"/>
    </settings>

</configuration>